<div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{$ctrl.product.title}}
                </div>
                <div class="panel-body">
                    <div>
                        <img height="200" width="200" ng-src="{{$ctrl.product.imgUrl}}" alt="">
                    </div>
                    <p>
                        Price: {{$ctrl.product.price | currency}}
                    </p>
                    <button ng-click="$ctrl.addToCart($ctrl.product)" class="btn btn-success">Add to cart</button>
                </div>
            </div>            
        </div>
        
</div>